<% @shout.tags.build %>
<%= form_for(@shout) do |shout_form| %>
  <% if @shout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shout.errors.count, "error") %> prohibited this shout from being saved:</h2>

      <ul>
      <% @shout.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= shout_form.label :name %><br />
    <%= shout_form.text_field :name %>
  </div>
  <div class="field">
    <%= shout_form.label :title %><br />
    <%= shout_form.text_field :title %>
  </div>
  <div class="field">
    <%= shout_form.label :message %><br />
    <%= shout_form.text_area :message %>
  </div>
  <h2>Tags</h2>
  <%= render :partial => 'tags/form',
             :locals => { :form => shout_form} %>
  <div class="actions">
    <%= shout_form.submit %>
  </div>
<% end %>
